html {
    font-size: 100%;
    scroll-behavior: smooth
}

* {
    box-sizing: border-box;
}

/* Website Color*/
/*
pastel pink= #F8B195
light pink= #F67280
purple= #C06C84
dark purple= #6C5B7B
dark blue= #355C7D */

header {
    
}

